xml-resources/web-service-references/ReservationWebService/wsdl/localhost_8080/ReservationWebService/ReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="ReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/ReservationWebService/ReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveReservationById">
<part name="parameters" element="tns:retrieveReservationById"/>
</message>
<message name="retrieveReservationByIdResponse">
<part name="parameters" element="tns:retrieveReservationByIdResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="createNewReservation">
<part name="parameters" element="tns:createNewReservation"/>
</message>
<message name="createNewReservationResponse">
<part name="parameters" element="tns:createNewReservationResponse"/>
</message>
<message name="cancelReservation">
<part name="parameters" element="tns:cancelReservation"/>
</message>
<message name="cancelReservationResponse">
<part name="parameters" element="tns:cancelReservationResponse"/>
</message>
<message name="retrieveReservations">
<part name="parameters" element="tns:retrieveReservations"/>
</message>
<message name="retrieveReservationsResponse">
<part name="parameters" element="tns:retrieveReservationsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="retrievePartnerReservations">
<part name="parameters" element="tns:retrievePartnerReservations"/>
</message>
<message name="retrievePartnerReservationsResponse">
<part name="parameters" element="tns:retrievePartnerReservationsResponse"/>
</message>
<portType name="ReservationWebService">
<operation name="retrieveReservationById">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByIdRequest" message="tns:retrieveReservationById"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationByIdResponse" message="tns:retrieveReservationByIdResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationById/Fault/ReservationNotFoundException"/>
</operation>
<operation name="createNewReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationRequest" message="tns:createNewReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/createNewReservationResponse" message="tns:createNewReservationResponse"/>
</operation>
<operation name="cancelReservation">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservationRequest" message="tns:cancelReservation"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservationResponse" message="tns:cancelReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://ws.session.ejb/ReservationWebService/cancelReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="retrieveReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsRequest" message="tns:retrieveReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrieveReservationsResponse" message="tns:retrieveReservationsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="retrievePartnerReservations">
<input wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerReservationsRequest" message="tns:retrievePartnerReservations"/>
<output wsam:Action="http://ws.session.ejb/ReservationWebService/retrievePartnerReservationsResponse" message="tns:retrievePartnerReservationsResponse"/>
</operation>
</portType>
<binding name="ReservationWebServicePortBinding" type="tns:ReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveReservationById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createNewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrievePartnerReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservationWebService">
<port name="ReservationWebServicePort" binding="tns:ReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/ReservationWebService/ReservationWebService"/>
</port>
</service>
</definitions>