src/META-INF/wsdl/localhost_8080/CreditCardWebService/CreditCardWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="createNewCreditCard" type="tns:createNewCreditCard"/>

<xs:element name="createNewCreditCardResponse" type="tns:createNewCreditCardResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="createNewCreditCard">
<xs:sequence>
<xs:element name="creditCard" type="tns:creditCard" minOccurs="0"/>
<xs:element name="customerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="creditCard">
<xs:sequence>
<xs:element name="balance" type="xs:decimal" minOccurs="0"/>
<xs:element name="creditCardId" type="xs:long" minOccurs="0"/>
<xs:element name="creditCardNumber" type="xs:string" minOccurs="0"/>
<xs:element name="paymentMode" type="tns:paymentModeEnum" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNewCreditCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="paymentModeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="VISA"/>
<xs:enumeration value="MASTERCARD"/>
<xs:enumeration value="AMEX"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>